* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.login-box {
  width: 400px;
  height: auto;
  margin: 100px auto;
  padding: 40px;
  background-color: #0295a9; /*  12ADC1  FFF */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.login-logo {
  margin-bottom: 20px;
  color: white;
}

.login-box-body {
  margin-bottom: 10px;
}

.login-logo img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.login-logo h3 {
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
}

.pw {
    position: relative;
}

.pw .show-hide {
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #fdd037;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0;
}

button:hover {
  background-color: #e6c230;
}

.button-login p {
  color: rgb(255, 255, 255);
}

.button-login a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
